<section id="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Most Recent Review</h2>

        <% if @resources %>
                <h3 class="section-subheading text-muted"><a href="/signup">Here you go. Most recent review. Yup.</a></h3>
            </div>
        </div>


        <div class="col-md-12 ">
            <h3><%=  @res.title %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="<%= @res.url %>"><%= @res.url %></a></h3>
               <h4>Rating: <%= @res.rating %>/5 </h4>
               <br>
        
           <%= @com.comment %> 

            <br><br>


        </div>
        <% end %>


        
    </div>


     <div class="clearfix"></div>
            
     
    </div>
</section>
